html {
  font-size: 20px;
}

body {
  transition: all 1s ease-out;
}

*, *::before, *::after {
  box-sizing: border-box;
}

nav {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  bottom: 1rem;
  left: 0;
  width: 100%;
}

.btn {
  margin: 0 .5rem;
  padding: 0;
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #fff;
  background-color: #111;
  transition: all 0.3s ease-out;
}

.btn.active {
  color: fuchsia;
}

#date,
.date__element {
  transition: all .3s ease-out;
}

/* THEMES :) */


/* THEME 1 */

body[data-theme="theme-1"] {
  font-family: "Futura", Verdana, sans-serif;
  background: #333;
}

body[data-theme="theme-1"] #date {
  margin: 0 auto;
  width: 640px;
  text-align: center;
}

body[data-theme="theme-1"] .date__element {
}

body[data-theme="theme-1"] #date__weekday {
  padding: .5em .8em;
  color: ivory;
  background-color: #c06078;
  text-transform: uppercase;
  font-size: 4rem;
}

body[data-theme="theme-1"] #date__weekday:hover {
  background-color: #ee839b;
}

body[data-theme="theme-1"] #date__month {
  margin-top: 1px;
  padding: .5em .8em;
  color: ivory;
  background-color: #DB7093;
  text-transform: uppercase;
  font-size: 2rem;
}

body[data-theme="theme-1"] #date__day {
  margin-top: 1px;
  padding: 0;
  color: #DB7093;
  background-color: ivory;
  font-size: 10rem;
}

body[data-theme="theme-1"] #date__year {
  margin-top: 1px;
  padding: .5em .8em;
  color: ivory;
  background-color: #c06078;
  text-transform: uppercase;
  font-size: 2rem;
}


/* THEME 2 */

body[data-theme="theme-2"] {
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  background: #88816f;
}

body[data-theme="theme-2"] #date {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 5vw;
  text-align: right;
}

body[data-theme="theme-2"] .date__element {
  display: inline-block;
  padding: 3vh 0;
  line-height: 1;
  border-bottom: 1px solid yellow;
  color: #9e9b88;
}

body[data-theme="theme-2"] #date__weekday {
  font-size: 5.5rem;
}

body[data-theme="theme-2"] #date__month {
  font-size: 2.1rem;
}

body[data-theme="theme-2"] #date__day {
  font-size: 8.9rem;
}

body[data-theme="theme-2"] #date__year {
  font-size: 3.4rem;
}


/* THEME 3 */

body[data-theme="theme-3"] {
  font-family: "Roboto Mono", monospace;
  background: #4d5b7d;
}

body[data-theme="theme-3"] #date {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body[data-theme="theme-3"] .date__element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 40vmin;
  width: 40vmin;
  height: 40vmin;
  margin: 2.5vmin;
  border-radius: 50%;
  font-size: 2.5rem;
  background-color: #b8f3ff;
  text-shadow: 8px 8px 2px rgba(77, 91, 125, 0.61);
}


/* THEME 4 */

body[data-theme="theme-4"] {
  font-family: Georgia, serif;
  background-color: honeydew;
}

body[data-theme="theme-4"] #date {
  text-align: center;
  font-size: 2rem;
  font-style: italic;
}

body[data-theme="theme-4"] .date__element {
  display: inline-block;
}

body[data-theme="theme-4"] .date__element:after {
  content: "/";
  margin: 0 .5em;
}

body[data-theme="theme-4"] .date__element:last-child:after {
  content: "";
}

body[data-theme="theme-4"] #date__weekday {
  text-decoration-color: gold;
}

body[data-theme="theme-4"] #date__month {
  text-decoration-color: #ebc000;

}

body[data-theme="theme-4"] #date__day {
  text-decoration-color: gold;

}

body[data-theme="theme-4"] #date__year {
  text-decoration-color: gold;

}


/* THEME 5 */

body[data-theme="theme-5"] {
}

body[data-theme="theme-5"] #date {

}

body[data-theme="theme-5"] .date__element {
}

body[data-theme="theme-5"] #date__weekday {

}

body[data-theme="theme-5"] #date__month {

}

body[data-theme="theme-5"] #date__day {

}

body[data-theme="theme-5"] #date__year {

